<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="copyright">
                    Neil Goodman &copy; {{formatDate "%Y"}} <span class="designer-credit">Designed by Hannah Fass</span>
                </div>
            </div>
            <div class="span6">
                <ul class="vendor-list">
                    <li>
                        <a target="_blank" href="http://git-scm.com/"><div class="powered-by-git"></div></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://nodejs.org/"><div class="powered-by-node"></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>