<!-- Footer -->
<footer class="footer">
    <ul class="vendor-list">
        <li>
            <a target="_blank" href="http://git-scm.com/"><div class="powered-by-git"></div></a>
        </li>
        <li>
            <a target="_blank" href="http://nodejs.org/"><div class="powered-by-node"></div></a>
        </li>
    </ul>
    
    <div class="copyright">
        Neil Goodman &copy; {{formatDate "%Y"}} <span class="designer-credit"><a href="http://hannahfass.com">Designed by Hannah Fass</a></span>
    </div>
</footer>