<!-- Masthead -->
<div class="sidebar-masthead">
    <div class="masthead">
        <h1>Neil Goodman</h1>
        <small>Software Engineer</small>
    </div>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/page/about">About</a></li>
    </ul>
</div>