<!-- Masthead Sidebar -->
<div class="sidebar-masthead">
    <div class="masthead">
        <h1>Neil Goodman</h1>
        <small>Software Engineer</small>
    </div>
    <nav>
        <ul class="nav">
            <li {{#compare currentPage "home"}}class="active"{{/compare}}>
                <a href="/">Home</a>
            </li>
            <li {{#compare currentPage "articles"}}class="active"{{/compare}}>
                <a href="/articles">Articles</a>
            </li>
            <li {{#compare currentPage "about"}}class="active"{{/compare}}>
                <a href="/page/about">About</a>
            </li>
        </ul>
    </nav>
</div>