# Sublime Workspace File #
neilgoodman.net.sublime-workspace

# Node Modules #
node_modules/*
npm-debug.log

# Assets #
builtAssets

# OS Garbage #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Scripts #
start.sh
debug.sh
