// Colors
@textColor: #464541;
@linkColor: #78A8C4;
@linkColorHover: #D4B05F;
@footerTextColor: #99978F;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@sansFontFamily: 'Helvetica Neue', 'Helvetica', sans-serif;
@serifFontFamily: 'Crete Round', serif;

.header-font(@bold: 400) {
    font-family: e("'Crete Round', serif");
    font-weight: @bold;
    -webkit-font-smoothing: antialiased;
}

.subheader-font(@bold: 400) {
    font-family: e("'Montserrat', sans-serif");
    font-weight: @bold;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

// Base styles

a:hover {
    text-decoration: none;
}

pre.prettyprint {
    overflow: auto;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 11px;
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid @grayDark;
        background-color: rgba(255, 255, 255, .5);
    }

    &,
    code {
        white-space: pre;
        word-wrap: normal;
    }
}

p {
    margin-bottom: 25px;
}

.divider {
    background-color: @textColor;
    height: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.sidebar-masthead {
    .masthead {
        padding-top: 72px;
        background-color: @textColor;
        height: 56px;

        h1 {
            .header-font();
            text-align: center;
            margin: 0;
            font-size: 25px;
            color: @white;
            line-height: 0;
            letter-spacing: 2px;
        }

        small {
            .subheader-font();
            display: block;
            text-align: center;
            font-size: 9px;
            text-transform: uppercase;
            color: @white;
            line-height: 44px;
        }
    }

    .nav {
        .clearfix();
        margin-top: 13px;
        margin-bottom: 60px;

        li {
            width: 33.333333%;
            float: left;

            a {
                .subheader-font();
                font-size: 13px;

                &,
                &:hover {
                    color: @textColor;
                    text-transform: uppercase;
                    background: transparent;
                }
            }
        }
    }
}

.sidebar-list {
    list-style: none;
    margin: 0;

    li {
        margin-bottom: 10px;
    }
}

.sidebar-header {
    .subheader-font();
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sidebar-tweets {
    .tweet-list {
        .clearfix();

        .icon-chevron-right {
            float: left;
            width: 14px;
            margin-right: 10px;
        }

        .tweet {
            overflow: hidden;
            font-size: 13px;

            .timeago {
                text-align: right;
                font-size: 10px;
            }
        }

        .spinner {
            width: 20px !important;
            height: 20px !important;
        }

        li {
            margin-bottom: 30px;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}

.sidebar-contact {
    .contact-list {
        .clearfix();
        list-style: none;
        margin: 0;

        li {
            float: left;
            width: 25%;
            text-align: left;

            .rss-icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../images/rss.png') no-repeat;
            }

            .linkedin-icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../images/linkedin.png') no-repeat;
  
            }

            .twitter-icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../images/twitter.png') no-repeat;
  
            }

            .github-icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../images/github.png') no-repeat;
  
            }
        }
    }
}

.article {
    .divider {
        margin-top: 62px;
    }

    .meta {
        .clearfix();
        list-style: none;
        margin: 0 0 20px 0;

        li {
            .subheader-font();
            font-size: 13px;
            float: left;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .more {
        font-style: italic;
    }

    h1,
    h3 {
        .header-font();
        font-size: 30px;

        a {
            color: @textColor;
        }
    }

    h2 {
        .header-font();
        font-size: 26px;
    }
}

.snippet {
    position: relative;
}

.code-link {
    position: absolute;
    right: 0;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, .5);
    color: @white;
    text-decoration: none;
    padding: 5px 10px;
    .border-radius(0 0 0 4px);
    .transition(all .3s linear);

    &:hover {
        color: @white;
        text-decoration: none;
        background-color: rgba(255, 255, 255, .6);
    }
}

.footer {
    background-color: @textColor;
    padding: 20px 0;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 62px;
    color: @footerTextColor;
    font-weight: bold;

    .designer-credit {
        font-size: 8px;
        margin-left: 10px;
    }

    .vendor-list {
        .clearfix();
        float: right;
        list-style: none;
        margin: 0;

        li {
            margin-left: 20px;
            float: left;

            &:first-child {
                margin: 0;
            }
        }

        .powered-by-git {
            width: 109px;
            height: 19px;
            background: url('../images/powered-by-git.png') no-repeat;
        }

        .powered-by-node {
            width: 129px;
            height: 22px;
            background: url('../images/powered-by-node.png') no-repeat 0 -3px;
        }
    }
}