<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {{#if title}}
                {{title}} - 
            {{/if}}
            neilgoodman.net
        </title>
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml">

        {{js "javascripts.js"}}
        {{css "stylesheets"}}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">neilgoodman.net</a>
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            {{{content}}}
        </div>
    </body>
</html>
