<div class="row">

    <!-- Main -->
    <div class="span8">
        <div class="phone-masthead">
            {{> sidebar-masthead}}
        </div>

        <ul class="breadcrumb">
            <li><a class="active" href="/about">About</a></li>
        </ul>

        <section class="page">
            <hr class="divider" />

            {{{markdownEncode page.markdown}}}
        </section>
    </div>

    <!-- Sidebar -->
    <div class="sidebar offset1 span3">
        {{> sidebar-masthead}}

        {{> sidebar-tweets}}
        {{> sidebar-contact}}
    </div>
    
</div>