<div class="row">

    <!-- Main -->
    <div class="span8">
        <section class="page">
            <hr class="divider" />

            {{{markdownEncode page.markdown}}}
        </section>
    </div>

    <!-- Sidebar -->
    <div class="offset1 span3">
        {{> masthead}}

        {{> sidebar-tweets}}
        {{> sidebar-contact}}
    </div>
    
</div>